
script(type='text/javascript').
        console.log('Doc is ready Called.');

        //Start of Layout calls

        $.ajax({ // Buttons Calls
            url: '../javascripts/buttons.js',
            async: false,
            cache: false
        });


        $.ajax({
            url: '../javascripts/tabs.js',
            async: false,
            cache: false
        })
        //End of Layout Calls


        $.ajax({ // Windows Calls
            url: '../javascripts/windows.js',
            async: false,
            cache: false
        });

        //Start of Plant Calls
        $.ajax({ // Plant All Call
            url: '../javascripts/plantAll.js',
            async: false,
            cache: false
        });

        $.ajax({ // Plant One Call
            url: '../javascripts/plantOne.js',
            async: false,
            cache: false
        });

        $.ajax({ // Plant Two Call
            url: '../javascripts/plantTwo.js',
            async: false,
            cache: false
        });

        $.ajax({ // Plant Three Call
            url: '../javascripts/plantThree.js',
            async: false,
            cache: false
        });

        $.ajax({ // Plant Four Call
            url: '../javascripts/plantFour.js',
            async: false,
            cache: false
        });

        //End of Plant calls




