doctype html
html
    head
        title= test
        //Fav Icon
        link(rel='shortcut icon', href='/images/scrapdblogo.png')
        //Css
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/styles/jqx.base.css' )
        //JS
        script(type='text/javascript' src='/javascripts/jquery-1.11.1.min.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxcore.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.core.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdata.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdragdrop.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.aggregates.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.export.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.filter.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.grouping.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.pager.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsreorder.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.edit.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.selection.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.sort.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxinput.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxmenu.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxknob.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxscrollbar.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxbuttons.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxnotification.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxradiobutton.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdraw.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdropdownlist.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxwindow.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxpanel.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxtabs.js')
        script(type='text/javascript' src='/javascripts/jquery-ui.js')


body(class='default')

        main
            div
                div(class='Info' id='plant1')

                    div(id='plantOneTubeDetails' class='')
                        div(id='plant1TubeChart' class='data')= 'Tubes Chart'
                        //div(id='plant1TubeCircleChart' class='data')= 'Circle Chart'

                //End plant one

        section(class='gird')
            div(id='GridForEverything' class='data')

    include ./JSCalls
    script.

        //var tubes = !{Tubes};
        var ChartData = null;
        var ChartTwo = null;
        var Year = 2017;
        var timeOut = 5000;
        var async = false;
        var cache = true;
        var gridData = null;
        var DateForGrid;
        var gridWidth = 1880;
        var gridHeight = 825;
        var tabWidth = 1890;
        var tabHeight = 600;


        plantOneDataFetch(Year);
        GridRerun(Year);


        function onChartClick(e) {
            console.log("chart clicked");
            var currProj = $('.jqx-chart-tooltip-text').text();
            //console.log(currProj);
            var pos = currProj.indexOf("EndingBalance:");
            //console.log(pos);
            currProj = currProj.substring(6, pos);
            console.log(currProj);
            DateForGrid = currProj;
            addfilter(DateForGrid);
        }

        console.log(Year)
        console.log("Test Page Called");

        function GridRerun(Year) {


            $.ajax({
                type: 'GET',
                url: '/MSSQL/' + Year,
                async: false,
                dataType: 'json',
                success: function (data1) {

                    gridData = data1
                    Grid(gridData);
                    console.log(gridData[80342]);
                    console.log(gridData[175292]);

                    //for(var i = 0; i < gridData.length; i++){
                    //    console.log(gridData[i].MonthDate + ": " + i);
                   // }

                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantOneDataFetch(Year) {

            $.ajax({// Get Tubes
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Tubes',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneTubeDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Tubes Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });


        }
