doctype html
html
    head
        title= test
        //Fav Icon
        link(rel='shortcut icon', href='/images/scrapdblogo.png')
        //Css
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/styles/jqx.base.css' )
        //JS
        script(type='text/javascript' src='/javascripts/jquery-1.11.1.min.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxcore.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.core.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdata.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdragdrop.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.aggregates.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.export.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.filter.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.grouping.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.pager.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsreorder.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.edit.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.selection.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.sort.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxinput.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxmenu.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxknob.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxscrollbar.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxbuttons.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxnotification.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxradiobutton.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdraw.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxdropdownlist.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxwindow.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxpanel.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxtabs.js')
        script(type='text/javascript' src='/javascripts/jqwidgets/jqxDataAdapter.js')
        script(type='text/javascript' src='/javascripts/jquery-ui.js')


body(class='default')

        main
            div
                div(class='Info' id='plant1')

                    div(id='plantOneTubeDetails' class='')
                        div(id='plant2DownChart' class='data')= 'Test Chart'
                        //div(id='plant1TubeCircleChart' class='data')= 'Circle Chart'

                //End plant one

        section(class='gird')
            div(id='GridForEverything' class='data')

        //include ./JSCalls
    script.
        var ChartData = null;
        var ChartTwo = null;
        var Year = 2017;
        var timeOut = 5000;
        var async = false;
        var cache = true;
        var gridData = null;
        var DateForGrid;
        var gridWidth = 1880;
        var gridHeight = 825;
        var tabWidth = 1890;
        var tabHeight = 600;


        plantOneDataFetch(Year);
        GridRerun(Year);

        function onChartClick(e) {
            var id;
            var thisDate;
            var thisYear = Year;
            var PrevYear = parseInt(thisYear) - 1;
            $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
            id = e.elementIndex;
            console.log(id);
            switch (id) {
                case 0:
                    thisDate = '1-Dec-' + PrevYear;
                    break;
                case 1:
                    thisDate = '1-Jan-' + thisYear;
                    break;
                case 2:
                    thisDate = '1-Feb-' + thisYear;
                    break;
                case 3:
                    thisDate = '1-Mar-' + thisYear;
                    break;
                case 4:
                    thisDate = '1-Apr-' + thisYear;
                    break;
                case 5:
                    thisDate = '1-May-' + thisYear;
                    break;
                case 6:
                    thisDate = '1-Jun-' + thisYear;
                    break;
                case 7:
                    thisDate = '1-Jul-' + thisYear;
                    break;
                case 8:
                    thisDate = '1-Aug-' + thisYear;
                    break;
                case 9:
                    thisDate = '1-Sep-' + thisYear;
                    break;
                case 10:
                    thisDate = '1-Oct-' + thisYear;
                    break;
                case 11:
                    thisDate = '1-Nov-' + thisYear;
                    break;
            }
            console.log(thisDate);
            addfilter(thisDate);
        }

        function addfilter(Date) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = Date;
            var filtercondition = 'equal';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'MonthDate', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }


        console.log(Year)
        console.log("Test Page Called");


        function GridRerun(Year) {


            $.ajax({
                type: 'GET',
                url: '/GridFetch/' + Year,
                async: true,
                dataType: 'json',
                timeout: timeOut,
                success: function (data1) {

                    gridData = data1
                    //Grid(gridData);
                    console.log(data1[80342]);
                    //console.log(gridData[175292]);
                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });




            var gridWidth = 1890;

            //Start of Grid
            var plant1AllDataSource = [
                {name: 'ReasonCodeDesc', type: 'string'},
                {name: 'Item', type: 'string'},
                {name: 'Description', type: 'string'},
                {name: 'WorkOrder', type: 'string'},
                {name: 'MonthDate', type: 'string'},
                {name: 'TransactionDate', type: 'string'},
                {name: 'Quantity', type: 'number'},
                {name: 'FirstName', type: 'string'},
                {name: 'Total', type: 'number'},
                {name: 'PlantNumber', type: 'number'}

            ];
            var plant1AllColumns = [
                {text: 'Reason Code Description', datafield: 'ReasonCodeDesc'},
                {text: 'Item', datafield: 'Item'},
                {text: 'Description', datafield: 'Description'},
                {text: 'Work Order', datafield: 'WorkOrder'},
                {text: 'Transaction Date', datafield: 'TransactionDate'},
                {text: 'Quantity', datafield: 'Quantity'},
                {text: 'First Name', datafield: 'FirstName'},
                {text: 'Total', datafield: 'Total'},
                {text: 'Month', datafield: 'MonthDate'},
                {text: 'Plant', datafield: 'PlantNumber'}
            ];

            var plant1AllSource = {
                datatype: "json",
                datafields: plant1AllDataSource,
                localdata: gridData,
                async: true,
                pager: function (pagenum, pagesize, oldpagenum) {
                    // callback called when a page or page size is changed.
                }
            };

            var plantOneGridDataAdapter = new $.jqx.dataAdapter(plant1AllSource);

            //var plantOneGridDataAdapter = new $.jqx.dataAdapter(plant1AllSource);

            $("#GridForEverything").jqxGrid({
                width: gridWidth,
                autoHeight: false,
                height: 610,
                source: plantOneGridDataAdapter,
                editable: false,
                columns: plant1AllColumns,
                pageable: true,
                groupable: true,
                sortable: true,
                enabletooltips: true,
                filterable: true,
                pagermode: 'simple',
                pageSize: 18
            });
            // End of Grid


        }

        function plantOneDataFetch(Year) {

            $.ajax({// Get Tubes
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/Sleeves',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    console.log(data);
                    PlantTwoDownersDetailsTest(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Test Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });


        }

        function PlantTwoDownersDetailsTest(data) {

            console.log("Test method Called");
            console.log(data);
            //Chart
            /* data adapter settings*/
            var DownersDataAdapter = new $.jqx.dataAdapter({
                localdata: data,
                datafields: [
                    {name: "Date", type: "string"},
                    {name: "Sleeves", type: "number"}
                ]
            });

            /* chart settings */
            var DownersChartSettings = {
                source: DownersDataAdapter,
                title: "Downers",
                description: "",
                showToolTips: true,
                enableAnimations: true,
                padding: {
                    left: 5,
                    top: 5,
                    right: 5,
                    bottom: 5
                },
                titlePadding: {
                    left: 5,
                    top: 5,
                    right: 5,
                    bottom: 5
                },
                colorScheme: "scheme05",
                enableCrosshairs: true,
                enableAxisTextAnimation: true,
                xAxis: {
                    dataField: "Date",
                    type: "date",
                    baseUnit: "month",
                    valuesOnTicks: false,
                    minValue: new Date(2016, 7, 1),
                    maxValue: new Date(2017, 7, 1),
                    unitInterval: 1,
                    rangeSelector: {
                        size: 100,
                        padding: {/*left: 0, right: 0,*/top: 0, bottom: 0},
                        minValue: new Date(2014, 12, 1),
                        backgroundColor: 'white',
                        dataField: 'Date',
                        baseUnit: 'month',
                        gridLines: {visible: true},
                        unitInterval: 1,
                        serieType: 'area',
                        minorTicksInterval: 1,
                        labels: {
                            angle: -30
                        }
                    }
                },
                valueAxis: {
                    valuesOnTicks: true,
                    title: {text: 'Scrap Amount ($)<br>'},
                    labels: {horizontalAlignment: 'right'}
                },
                seriesGroups: [
                    {
                        type: "column",
                        click: onChartClick,
                        columnsGapPercent: 50,
                        seriesGapPercent: 0,
                        series: [
                            {dataField: "Sleeves",      displayText: 'EndingBalance',
                                labels: {
                                    visible: true,
                                    verticalAlignment: 'top',
                                    offset: {x: -5, y: -17}
                                },
                                formatFunction: function (value) {
                                    return '$' + Math.round(value);
                                }
                            }
                        ]
                    }
                ]
            };
            $('#plant2DownChart').jqxChart(DownersChartSettings);
            //End of Chart

        }


