doctype html
html
  head
    title= title
    //Fav Icon
    link(rel='shortcut icon', href='/images/scrapdblogo.png')
    //Css
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styles/jqx.base.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    //JS
    script(type='text/javascript' src='/javascripts/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxcore.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.core.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxdata.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxloader.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxdragdrop.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.aggregates.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.export.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.filter.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.grouping.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.pager.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsresize.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.columnsreorder.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.edit.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.selection.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxgrid.sort.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxinput.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxknob.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxmenu.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxscrollbar.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxbuttons.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxnotification.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxradiobutton.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxchart.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxdraw.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxlistbox.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxdropdownlist.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxwindow.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxpanel.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxtabs.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxbuttons.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxbuttongroup.js')
    script(type='text/javascript' src='/javascripts/jqwidgets/jqxradiobutton.js')
    script(type='text/javascript' src='/javascripts/jquery-ui.js')



  body(class='default' onload='WhenBodyLoad()')
    block content
